<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Meu Portfólio Terminal</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Carregar CSS do particles.js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.css">
</head>

<body>
    <!-- Dentro do seu div terminal -->
    <div class="terminal">
        <span class="terminal-prompt">manuzokas:~/portfolio</span>
        <span id="typed-output" class="typed-text"></span>
        <input type="text" id="command-input" class="hidden" />
    </div>

    <div id="particles-js"></div>

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.15/dist/typed.umd.js"></script>
    <script type="module" src="/public/js/main.mjs"></script>
</body>

</html>