<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Página de Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <!-- Substitua pelo caminho correto para o seu arquivo CSS -->
</head>

<body>

    <div id="particles-js"></div>

    <div class="login-screen">
        <form id="login-form" class="login-form">
            <h2>Login</h2>

            <input type="text" id="username" placeholder="Usuário" required>

            <input type="password" id="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
            <p id="login-error" class="error-message"></p>
            <button id="guest-login-button">Entrar como Visitante</button>
        </form>
    </div>

    <!-- Carregue a biblioteca particles.js -->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <!-- Seu código JavaScript personalizado -->
    <script type="module" src="/public/js/login.mjs"></script>
    <!-- Substitua pelo caminho correto para o seu arquivo login.mjs -->
</body>

</html>